/**
 * $SCAFFOLDING
 * =============================================================================
 * Base styles added to all elements (*) or the <html> and <body> tags.
 */

html {
    font: #{($font-size-base/16px)*1em}/#{$line-height-ratio} $font-family-base;
    overflow-y:scroll;
    min-height:100%;
}

body {
    /* Body styles */
}

@if $border-box-global == true {
    * {
        &,
        &:before,
        &:after {
            @include vendor(box-sizing, border-box);
        }
    }
}

@if $position-relative-global == true {
    * {
        &,
        &:before,
        &:after {
            position: relative;
        }
    }
}
